In [2]:
import pandas as pd
import numpy as np

In [93]:
lab_ectract=pd.read_csv("F:\TrainTest\EICU\Data\lab_extract.csv")
lab_ectract

,patientunitstayid,labresultoffset,labresulttext,labmeasurenamesystem,labname
0,141203,1,0.56,mg/dL,creatinine
1,141203,1,100,%,FiO2
2,141203,1,107,mmol/L,chloride
3,141203,1,12.7,K/mcL,WBC x 1000
4,141203,1,145,mg/dL,glucose
...,...,...,...,...,...
209162,3353216,16,100,%,FiO2
209163,3353216,16,20.0,mmol/L,HCO3
209164,3353216,16,226.0,mm Hg,paO2
209165,3353216,16,53.1,mm Hg,paCO2
209166,3353216,16,7.185,NaN,pH

In [100]:
import pandas as pd

# 假设 df 是您的 DataFrame，包含 id、labname 和 labtxt 列
# 使用 pivot_table 进行变换
lab_ectract_t = pd.pivot_table(lab_ectract, values='labresulttext', index='patientunitstayid', columns='labname', aggfunc='first')

# 如果需要重置索引，可以使用 reset_index() 方法
lab_ectract_t.reset_index(inplace=True)

lab_ectract_t.info()
lab_ectract_t.to_csv("F:\TrainTest\EICU\Data\lab_ectract_t.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43065 entries, 0 to 43064
Data columns (total 46 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   patientunitstayid             43065 non-null  int64
 1   -lymphs                       4145 non-null   object
 2   24 h urine protein            27 non-null     object
 3   24 h urine urea nitrogen      1 non-null      object
 4   ALT (SGPT)                    3463 non-null   object
 5   Acetaminophen                 91 non-null     object
 6   BUN                           9071 non-null   object
 7   FiO2                          17153 non-null  object
 8   HCO3                          8298 non-null   object
 9   Hct                           10840 non-null  object
 10  LPM O2                        847 non-null    object
 11  PT                            5795 non-null   object
 12  PT - INR                      6098 non-null   object
 13  PTT                           5153 non-null   object
 14  PTT ratio                     264 non-null    object
 15  Phenobarbital                 3 non-null      object
 16  Phenytoin                     25 non-null     object
 17  Theophylline                  6 non-null      object
 18  WBC x 1000                    9415 non-null   object
 19  WBC's in body fluid           10 non-null     object
 20  WBC's in cerebrospinal fluid  7 non-null      object
 21  WBC's in peritoneal fluid     2 non-null      object
 22  WBC's in urine                278 non-null    object
 23  albumin                       3726 non-null   object
 24  alkaline phos.                3350 non-null   object
 25  bedside glucose               20087 non-null  object
 26  chloride                      9133 non-null   object
 27  creatinine                    9140 non-null   object
 28  direct bilirubin              606 non-null    object
 29  glucose                       10080 non-null  object
 30  glucose - CSF                 14 non-null     object
 31  haptoglobin                   27 non-null     object
 32  pH                            8900 non-null   object
 33  paCO2                         8944 non-null   object
 34  paO2                          9067 non-null   object
 35  phosphate                     3051 non-null   object
 36  platelets x 1000              9559 non-null   object
 37  potassium                     11629 non-null  object
 38  prealbumin                    66 non-null     object
 39  sodium                        10988 non-null  object
 40  total bilirubin               3513 non-null   object
 41  uric acid                     125 non-null    object
 42  urinary creatinine            111 non-null    object
 43  urinary osmolality            98 non-null     object
 44  urinary sodium                178 non-null    object
 45  urinary specific gravity      1563 non-null   object
dtypes: int64(1), object(45)
memory usage: 15.1+ MB

In [17]:
lab_pa=pd.read_csv("F:\\TrainTest\\EICU\\Data\\apacheApsVar_extract")
lab_pa

,Unnamed: 0,apacheapsvarid,patientunitstayid,urine,heartrate,wbc,temperature,sodium,creatinine,albumin,...,bun,bilirubin,fio2,ph,dialysis,sodium.1,hematocrit,glucose,respiratoryrate,vent
0,0,2,141168,-1.0000,140,14.7,36.1,139.0,2.30,3.1,...,27.0,4.1,-1.0,-1.000,0,139.0,40.1,95.0,30.0,0
1,1,2399659,141178,-1.0000,88,-1.0,36.4,-1.0,-1.00,-1.0,...,-1.0,-1.0,-1.0,-1.000,0,-1.0,-1.0,-1.0,16.0,0
2,2,167885,141194,-1.0000,118,14.1,39.3,134.0,2.51,2.3,...,31.0,0.4,-1.0,-1.000,0,134.0,27.4,168.0,36.0,0
3,3,70691,141197,-1.0000,104,-1.0,-1.0,-1.0,-1.00,-1.0,...,-1.0,-1.0,-1.0,-1.000,0,-1.0,-1.0,-1.0,25.0,0
4,4,2279689,141203,-1.0000,120,12.7,35.1,145.0,0.56,-1.0,...,9.0,-1.0,100.0,7.450,0,145.0,36.9,145.0,33.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171172,171172,1325400,3353235,1751.1552,106,-1.0,36.2,-1.0,-1.00,-1.0,...,-1.0,-1.0,-1.0,-1.000,0,-1.0,-1.0,-1.0,50.0,0
171173,171173,1528627,3353237,5724.7776,112,9.5,36.4,140.0,1.07,3.5,...,32.0,0.7,-1.0,-1.000,0,140.0,39.0,139.0,42.0,0
171174,171174,1546299,3353251,358.9920,104,-1.0,32.9,142.0,2.43,-1.0,...,30.0,-1.0,100.0,7.224,0,142.0,-1.0,346.0,34.0,1
171175,171175,2085296,3353254,2171.6640,83,-1.0,35.5,-1.0,-1.00,-1.0,...,-1.0,-1.0,-1.0,-1.000,0,-1.0,32.0,137.0,31.0,0
171176,171176,1404922,3353263,-1.0000,97,-1.0,37.1,-1.0,-1.00,-1.0,...,-1.0,-1.0,-1.0,-1.000,0,-1.0,-1.0,-1.0,57.0,0

In [14]:
lab_pa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171177 entries, 0 to 171176
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         171177 non-null  int64
 1   apacheapsvarid     171177 non-null  int64
 2   patientunitstayid  171177 non-null  int64
 3   urine              171177 non-null  float64
 4   heartrate          171177 non-null  int64
 5   wbc                171177 non-null  float64
 6   temperature        171177 non-null  float64
 7   sodium             171177 non-null  float64
 8   creatinine         171177 non-null  float64
 9   albumin            171177 non-null  float64
 10  pco2               171177 non-null  float64
 11  bun                171177 non-null  float64
 12  bilirubin          171177 non-null  float64
 13  fio2               171177 non-null  float64
 14  ph                 171177 non-null  float64
 15  dialysis           171177 non-null  int64
 16  sodium.1           171177 non-null  float64
 17  hematocrit         171177 non-null  float64
 18  glucose            171177 non-null  float64
 19  respiratoryrate    171177 non-null  float64
 20  vent               171177 non-null  int64
dtypes: float64(15), int64(6)
memory usage: 27.4 MB

In [106]:
lab_ectract_t=pd.read_csv("F:\\TrainTest\\EICU\\Data\\lab_ectract_t.csv")
patient_extract=pd.read_csv("F:\TrainTest\EICU\Data\patient_extract.csv")
lab_patient_combain=pd.merge(lab_ectract_t,patient_extract,on='patientunitstayid',how='inner')
lab_patient_combain

E:\Anaconda\envs\acative\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (9,10,11,15,16,17,19,21,24,28,30,33,38,39,40,41,42) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,patientunitstayid,-lymphs,24 h urine protein,24 h urine urea nitrogen,ALT (SGPT),Acetaminophen,BUN,FiO2,HCO3,...,urinary creatinine,urinary osmolality,urinary sodium,urinary specific gravity,age,ethnicity,apacheadmissiondx,gender_numeric,death_numeric,icu_los_hours_less_than_24
0,0,141203,20.0,NaN,NaN,NaN,NaN,9,100,25,...,NaN,NaN,NaN,NaN,77.0,Caucasian,"Arrest, respiratory (without cardiac arrest)",0.0,0.0,0
1,1,141276,NaN,NaN,NaN,NaN,NaN,NaN,100,28,...,NaN,NaN,NaN,NaN,59.0,Caucasian,"Arrest, respiratory (without cardiac arrest)",0.0,0.0,0
2,2,141296,NaN,NaN,NaN,NaN,NaN,NaN,21,27,...,NaN,NaN,NaN,NaN,63.0,Caucasian,"Hypovolemia (including dehydration, Do not inc...",1.0,1.0,0
3,3,141313,16.0,NaN,NaN,57,NaN,15,100,20,...,NaN,NaN,NaN,NaN,45.0,Caucasian,"Aneurysm, dissecting aortic",1.0,1.0,1
4,4,141328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,76.0,African American,"CHF, congestive heart failure",0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41796,43060,3353121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,77.0,Caucasian,"Infarction, acute myocardial (MI)",0.0,0.0,1
41797,43061,3353197,NaN,NaN,NaN,NaN,NaN,19,100,24.2,...,NaN,NaN,NaN,NaN,66.0,Caucasian,CABG with aortic valve replacement,0.0,0.0,0
41798,43062,3353198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,66.0,Caucasian,Coma/change in level of consciousness (for hep...,0.0,0.0,0
41799,43063,3353200,NaN,NaN,NaN,NaN,NaN,NaN,30,27.8,...,NaN,NaN,NaN,NaN,66.0,Caucasian,"Hypovolemia (including dehydration, Do not inc...",0.0,0.0,0
41800,43064,3353216,NaN,NaN,NaN,NaN,NaN,NaN,100,20.0,...,NaN,NaN,NaN,NaN,50.0,African American,"Cystectomy, other reasons",0.0,0.0,0

In [107]:
lab_patient_combain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41801 entries, 0 to 41800
Data columns (total 53 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    41801 non-null  int64
 1   patientunitstayid             41801 non-null  int64
 2   -lymphs                       4040 non-null   float64
 3   24 h urine protein            25 non-null     float64
 4   24 h urine urea nitrogen      1 non-null      float64
 5   ALT (SGPT)                    3378 non-null   object
 6   Acetaminophen                 90 non-null     object
 7   BUN                           8869 non-null   object
 8   FiO2                          16704 non-null  object
 9   HCO3                          8141 non-null   object
 10  Hct                           10606 non-null  object
 11  LPM O2                        805 non-null    object
 12  PT                            5694 non-null   object
 13  PT - INR                      5993 non-null   object
 14  PTT                           5073 non-null   object
 15  PTT ratio                     258 non-null    object
 16  Phenobarbital                 3 non-null      object
 17  Phenytoin                     25 non-null     object
 18  Theophylline                  6 non-null      float64
 19  WBC x 1000                    9219 non-null   object
 20  WBC's in body fluid           10 non-null     float64
 21  WBC's in cerebrospinal fluid  7 non-null      object
 22  WBC's in peritoneal fluid     2 non-null      float64
 23  WBC's in urine                263 non-null    object
 24  albumin                       3632 non-null   object
 25  alkaline phos.                3272 non-null   float64
 26  bedside glucose               19502 non-null  object
 27  chloride                      8934 non-null   float64
 28  creatinine                    8938 non-null   object
 29  direct bilirubin              595 non-null    object
 30  glucose                       9867 non-null   object
 31  glucose - CSF                 14 non-null     float64
 32  haptoglobin                   26 non-null     object
 33  pH                            8738 non-null   object
 34  paCO2                         8781 non-null   object
 35  paO2                          8902 non-null   object
 36  phosphate                     3001 non-null   object
 37  platelets x 1000              9359 non-null   float64
 38  potassium                     11397 non-null  object
 39  prealbumin                    64 non-null     object
 40  sodium                        10765 non-null  object
 41  total bilirubin               3427 non-null   object
 42  uric acid                     120 non-null    object
 43  urinary creatinine            108 non-null    float64
 44  urinary osmolality            93 non-null     float64
 45  urinary sodium                174 non-null    object
 46  urinary specific gravity      1501 non-null   object
 47  age                           41800 non-null  float64
 48  ethnicity                     41463 non-null  object
 49  apacheadmissiondx             40704 non-null  object
 50  gender_numeric                41795 non-null  float64
 51  death_numeric                 41488 non-null  float64
 52  icu_los_hours_less_than_24    41801 non-null  int64
dtypes: float64(15), int64(3), object(35)
memory usage: 17.2+ MB

In [167]:
lab_patient_combain_extract=lab_patient_combain[['patientunitstayid','age','gender_numeric','potassium','paO2','HCO3','chloride','PT - INR','PT','ALT (SGPT)','BUN','PTT','paCO2','paO2','death_numeric','icu_los_hours_less_than_24',]]
lab_patient_combain_extract

,patientunitstayid,age,gender_numeric,potassium,paO2,HCO3,chloride,PT - INR,PT,ALT (SGPT),BUN,PTT,paCO2,paO2,death_numeric,icu_los_hours_less_than_24
0,141203,77.0,0.0,4.2,51,25,107.0,NaN,NaN,NaN,9,NaN,37,51,0.0,0
1,141276,59.0,0.0,NaN,370,28,NaN,NaN,NaN,NaN,NaN,NaN,43,370,0.0,0
2,141296,63.0,1.0,NaN,54,27,NaN,NaN,NaN,NaN,NaN,NaN,32,54,1.0,0
3,141313,45.0,1.0,5.2,92,20,107.0,1.2,12.7,57,15,NaN,60,92,1.0,1
4,141328,76.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41796,3353121,77.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90,NaN,NaN,0.0,1
41797,3353197,66.0,0.0,4.2,380.0,24.2,116.0,NaN,NaN,NaN,19,NaN,31.4,380.0,0.0,0
41798,3353198,66.0,0.0,4.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0
41799,3353200,66.0,0.0,NaN,70.0,27.8,NaN,NaN,NaN,NaN,NaN,NaN,43.5,70.0,0.0,0
41800,3353216,50.0,0.0,NaN,226.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,53.1,226.0,0.0,0

In [168]:
merged_data = pd.merge(lab_patient_combain_extract, lab_pa, on='patientunitstayid', how='inner')  # 可以根据需要选择不同的连接方式，如 'inner', 'left', 'right', 'outer'
merged_data

,patientunitstayid,age,gender_numeric,potassium,paO2,HCO3,chloride,PT - INR,PT,ALT (SGPT),...,bun,bilirubin,fio2,ph,dialysis,sodium.1,hematocrit,glucose,respiratoryrate,vent
0,141203,77.0,0.0,4.2,51,25,107.0,NaN,NaN,NaN,...,9.0,-1.0,100.0,7.450,0,145.0,36.9,145.0,33.0,1
1,141276,59.0,0.0,NaN,370,28,NaN,NaN,NaN,NaN,...,18.0,-1.0,100.0,7.420,0,135.0,33.5,197.0,53.0,0
2,141296,63.0,1.0,NaN,54,27,NaN,NaN,NaN,NaN,...,35.0,0.5,21.0,7.540,1,137.0,29.0,101.0,59.0,0
3,141313,45.0,1.0,5.2,92,20,107.0,1.2,12.7,57,...,15.0,0.2,100.0,7.140,0,142.0,37.9,380.0,14.0,1
4,141328,76.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.0,-1.0,-1.0,-1.000,1,-1.0,-1.0,103.0,14.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39756,3353121,77.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.0,-1.0,-1.0,-1.000,0,140.0,30.0,185.0,51.0,0
39757,3353197,66.0,0.0,4.2,380.0,24.2,116.0,NaN,NaN,NaN,...,25.0,-1.0,100.0,7.494,0,142.0,20.0,209.0,50.0,0
39758,3353198,66.0,0.0,4.3,NaN,NaN,NaN,NaN,NaN,NaN,...,50.0,0.5,50.0,7.502,0,150.0,24.0,210.0,38.0,1
39759,3353200,66.0,0.0,NaN,70.0,27.8,NaN,NaN,NaN,NaN,...,41.0,-1.0,30.0,7.412,0,134.0,20.0,221.0,30.0,1
39760,3353216,50.0,0.0,NaN,226.0,20.0,NaN,NaN,NaN,NaN,...,7.0,0.2,100.0,7.185,0,143.0,26.0,182.0,14.0,1

In [169]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39761 entries, 0 to 39760
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   patientunitstayid           39761 non-null  int64
 1   age                         39760 non-null  float64
 2   gender_numeric              39755 non-null  float64
 3   potassium                   10982 non-null  object
 4   paO2                        8725 non-null   object
 5   HCO3                        7978 non-null   object
 6   chloride                    8627 non-null   float64
 7   PT - INR                    5824 non-null   object
 8   PT                          5525 non-null   object
 9   ALT (SGPT)                  3254 non-null   object
 10  BUN                         8564 non-null   object
 11  PTT                         4945 non-null   object
 12  paCO2                       8604 non-null   object
 13  paO2                        8725 non-null   object
 14  death_numeric               39462 non-null  float64
 15  icu_los_hours_less_than_24  39761 non-null  int64
 16  Unnamed: 0                  39761 non-null  int64
 17  apacheapsvarid              39761 non-null  int64
 18  urine                       39761 non-null  float64
 19  heartrate                   39761 non-null  int64
 20  wbc                         39761 non-null  float64
 21  temperature                 39761 non-null  float64
 22  sodium                      39761 non-null  float64
 23  creatinine                  39761 non-null  float64
 24  albumin                     39761 non-null  float64
 25  pco2                        39761 non-null  float64
 26  bun                         39761 non-null  float64
 27  bilirubin                   39761 non-null  float64
 28  fio2                        39761 non-null  float64
 29  ph                          39761 non-null  float64
 30  dialysis                    39761 non-null  int64
 31  sodium.1                    39761 non-null  float64
 32  hematocrit                  39761 non-null  float64
 33  glucose                     39761 non-null  float64
 34  respiratoryrate             39761 non-null  float64
 35  vent                        39761 non-null  int64
dtypes: float64(19), int64(7), object(10)
memory usage: 11.2+ MB

In [170]:
merged_data = merged_data.dropna(subset=['death_numeric'])

# 如果需要重新索引行号，可以使用下面的代码
merged_data.reset_index(drop=True, inplace=True)

In [171]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39462 entries, 0 to 39461
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   patientunitstayid           39462 non-null  int64
 1   age                         39461 non-null  float64
 2   gender_numeric              39456 non-null  float64
 3   potassium                   10914 non-null  object
 4   paO2                        8648 non-null   object
 5   HCO3                        7914 non-null   object
 6   chloride                    8566 non-null   float64
 7   PT - INR                    5790 non-null   object
 8   PT                          5491 non-null   object
 9   ALT (SGPT)                  3224 non-null   object
 10  BUN                         8505 non-null   object
 11  PTT                         4915 non-null   object
 12  paCO2                       8529 non-null   object
 13  paO2                        8648 non-null   object
 14  death_numeric               39462 non-null  float64
 15  icu_los_hours_less_than_24  39462 non-null  int64
 16  Unnamed: 0                  39462 non-null  int64
 17  apacheapsvarid              39462 non-null  int64
 18  urine                       39462 non-null  float64
 19  heartrate                   39462 non-null  int64
 20  wbc                         39462 non-null  float64
 21  temperature                 39462 non-null  float64
 22  sodium                      39462 non-null  float64
 23  creatinine                  39462 non-null  float64
 24  albumin                     39462 non-null  float64
 25  pco2                        39462 non-null  float64
 26  bun                         39462 non-null  float64
 27  bilirubin                   39462 non-null  float64
 28  fio2                        39462 non-null  float64
 29  ph                          39462 non-null  float64
 30  dialysis                    39462 non-null  int64
 31  sodium.1                    39462 non-null  float64
 32  hematocrit                  39462 non-null  float64
 33  glucose                     39462 non-null  float64
 34  respiratoryrate             39462 non-null  float64
 35  vent                        39462 non-null  int64
dtypes: float64(19), int64(7), object(10)
memory usage: 10.8+ MB

In [172]:
merged_data = merged_data.dropna(subset=['Unnamed: 0'])
merged_data

,patientunitstayid,age,gender_numeric,potassium,paO2,HCO3,chloride,PT - INR,PT,ALT (SGPT),...,bun,bilirubin,fio2,ph,dialysis,sodium.1,hematocrit,glucose,respiratoryrate,vent
0,141203,77.0,0.0,4.2,51,25,107.0,NaN,NaN,NaN,...,9.0,-1.0,100.0,7.450,0,145.0,36.9,145.0,33.0,1
1,141276,59.0,0.0,NaN,370,28,NaN,NaN,NaN,NaN,...,18.0,-1.0,100.0,7.420,0,135.0,33.5,197.0,53.0,0
2,141296,63.0,1.0,NaN,54,27,NaN,NaN,NaN,NaN,...,35.0,0.5,21.0,7.540,1,137.0,29.0,101.0,59.0,0
3,141313,45.0,1.0,5.2,92,20,107.0,1.2,12.7,57,...,15.0,0.2,100.0,7.140,0,142.0,37.9,380.0,14.0,1
4,141328,76.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.0,-1.0,-1.0,-1.000,1,-1.0,-1.0,103.0,14.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39457,3353121,77.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.0,-1.0,-1.0,-1.000,0,140.0,30.0,185.0,51.0,0
39458,3353197,66.0,0.0,4.2,380.0,24.2,116.0,NaN,NaN,NaN,...,25.0,-1.0,100.0,7.494,0,142.0,20.0,209.0,50.0,0
39459,3353198,66.0,0.0,4.3,NaN,NaN,NaN,NaN,NaN,NaN,...,50.0,0.5,50.0,7.502,0,150.0,24.0,210.0,38.0,1
39460,3353200,66.0,0.0,NaN,70.0,27.8,NaN,NaN,NaN,NaN,...,41.0,-1.0,30.0,7.412,0,134.0,20.0,221.0,30.0,1
39461,3353216,50.0,0.0,NaN,226.0,20.0,NaN,NaN,NaN,NaN,...,7.0,0.2,100.0,7.185,0,143.0,26.0,182.0,14.0,1

In [174]:
merged_data = merged_data.rename(columns={
    'potassium': 'K',
    'chloride': 'CL',
    'PT - INR': 'INR',
    'heartrate': 'HR',
    'sodium': 'Na',
    'hematocrit': 'HCT',
    'glucose': 'GLU',
    'respiratoryrate': 'RESP',
    'vent': 'TV',
    'gender_numeric':'gender',
    'death_numeric':'death',
    'icu_los_hours_less_than_24':'icu_loss'
})

In [175]:
merged_data

,patientunitstayid,age,gender,K,paO2,HCO3,CL,INR,PT,ALT (SGPT),...,bun,bilirubin,fio2,ph,dialysis,sodium.1,HCT,GLU,RESP,TV
0,141203,77.0,0.0,4.2,51,25,107.0,NaN,NaN,NaN,...,9.0,-1.0,100.0,7.450,0,145.0,36.9,145.0,33.0,1
1,141276,59.0,0.0,NaN,370,28,NaN,NaN,NaN,NaN,...,18.0,-1.0,100.0,7.420,0,135.0,33.5,197.0,53.0,0
2,141296,63.0,1.0,NaN,54,27,NaN,NaN,NaN,NaN,...,35.0,0.5,21.0,7.540,1,137.0,29.0,101.0,59.0,0
3,141313,45.0,1.0,5.2,92,20,107.0,1.2,12.7,57,...,15.0,0.2,100.0,7.140,0,142.0,37.9,380.0,14.0,1
4,141328,76.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.0,-1.0,-1.0,-1.000,1,-1.0,-1.0,103.0,14.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39457,3353121,77.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.0,-1.0,-1.0,-1.000,0,140.0,30.0,185.0,51.0,0
39458,3353197,66.0,0.0,4.2,380.0,24.2,116.0,NaN,NaN,NaN,...,25.0,-1.0,100.0,7.494,0,142.0,20.0,209.0,50.0,0
39459,3353198,66.0,0.0,4.3,NaN,NaN,NaN,NaN,NaN,NaN,...,50.0,0.5,50.0,7.502,0,150.0,24.0,210.0,38.0,1
39460,3353200,66.0,0.0,NaN,70.0,27.8,NaN,NaN,NaN,NaN,...,41.0,-1.0,30.0,7.412,0,134.0,20.0,221.0,30.0,1
39461,3353216,50.0,0.0,NaN,226.0,20.0,NaN,NaN,NaN,NaN,...,7.0,0.2,100.0,7.185,0,143.0,26.0,182.0,14.0,1

In [176]:
apache=pd.read_csv('F:\\TrainTest\\EICU\Eicu_Data\\apachePredVar.csv')
apache

,apachepredvarid,patientunitstayid,sicuday,saps3day1,saps3today,saps3yesterday,gender,teachtype,region,bedcount,...,creatinine,dischargelocation,visitnumber,amilocation,day1meds,day1verbal,day1motor,day1eyes,day1pao2,day1fio2
0,1794895,141168,1,0,0,0,1,0,3,12,...,2.30,9,1,-1,0,5,6,4,-1.0,-1.0
1,2406430,141178,1,0,0,0,1,0,3,9,...,-1.00,4,1,-1,-1,-1,-1,-1,-1.0,-1.0
2,1790923,141194,1,0,0,0,0,0,3,38,...,2.51,4,1,-1,0,4,6,3,-1.0,-1.0
3,27799,141197,1,0,0,0,0,0,3,30,...,-1.00,4,1,-1,0,5,6,4,-1.0,-1.0
4,2406432,141203,1,0,0,0,1,0,3,18,...,0.56,4,1,-1,0,1,3,1,51.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171172,825962,3353235,1,0,0,0,0,0,3,23,...,-1.00,8,1,-1,0,5,6,4,-1.0,-1.0
171173,996721,3353237,1,0,0,0,1,0,3,11,...,1.07,4,1,-1,0,4,6,4,-1.0,-1.0
171174,917301,3353251,1,0,0,0,0,0,3,20,...,2.43,8,1,-1,0,1,1,1,80.0,100.0
171175,2418339,3353254,1,0,0,0,0,0,3,14,...,-1.00,4,1,-1,0,5,6,4,-1.0,-1.0
171176,1501038,3353263,1,0,0,0,0,0,3,11,...,-1.00,8,1,-1,0,5,6,4,-1.0,-1.0

In [177]:
apache=apache[['patientunitstayid','ventday1']]
apache

        patientunitstayid  ventday1
0                  141168         0
1                  141178         0
2                  141194         0
3                  141197         0
4                  141203         1
...                   ...       ...
171172            3353235         0
171173            3353237         0
171174            3353251         1
171175            3353254         0
171176            3353263         0

[171177 rows x 2 columns]

In [178]:
merged_data = pd.merge(merged_data, apache, on='patientunitstayid', how='inner')  # 可以根据需要选择不同的连接方式，如 'inner', 'left', 'right', 'outer'
merged_data

,patientunitstayid,age,gender,K,paO2,HCO3,CL,INR,PT,ALT (SGPT),...,bilirubin,fio2,ph,dialysis,sodium.1,HCT,GLU,RESP,TV,ventday1
0,141203,77.0,0.0,4.2,51,25,107.0,NaN,NaN,NaN,...,-1.0,100.0,7.450,0,145.0,36.9,145.0,33.0,1,1
1,141276,59.0,0.0,NaN,370,28,NaN,NaN,NaN,NaN,...,-1.0,100.0,7.420,0,135.0,33.5,197.0,53.0,0,0
2,141296,63.0,1.0,NaN,54,27,NaN,NaN,NaN,NaN,...,0.5,21.0,7.540,1,137.0,29.0,101.0,59.0,0,0
3,141313,45.0,1.0,5.2,92,20,107.0,1.2,12.7,57,...,0.2,100.0,7.140,0,142.0,37.9,380.0,14.0,1,1
4,141328,76.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.0,-1.0,-1.000,1,-1.0,-1.0,103.0,14.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39457,3353121,77.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.0,-1.0,-1.000,0,140.0,30.0,185.0,51.0,0,0
39458,3353197,66.0,0.0,4.2,380.0,24.2,116.0,NaN,NaN,NaN,...,-1.0,100.0,7.494,0,142.0,20.0,209.0,50.0,0,0
39459,3353198,66.0,0.0,4.3,NaN,NaN,NaN,NaN,NaN,NaN,...,0.5,50.0,7.502,0,150.0,24.0,210.0,38.0,1,1
39460,3353200,66.0,0.0,NaN,70.0,27.8,NaN,NaN,NaN,NaN,...,-1.0,30.0,7.412,0,134.0,20.0,221.0,30.0,1,1
39461,3353216,50.0,0.0,NaN,226.0,20.0,NaN,NaN,NaN,NaN,...,0.2,100.0,7.185,0,143.0,26.0,182.0,14.0,1,1

In [179]:
merged_data = merged_data.rename(columns={
    'ventday1': 'PEEP',

})
merged_data

,patientunitstayid,age,gender,K,paO2,HCO3,CL,INR,PT,ALT (SGPT),...,bilirubin,fio2,ph,dialysis,sodium.1,HCT,GLU,RESP,TV,PEEP
0,141203,77.0,0.0,4.2,51,25,107.0,NaN,NaN,NaN,...,-1.0,100.0,7.450,0,145.0,36.9,145.0,33.0,1,1
1,141276,59.0,0.0,NaN,370,28,NaN,NaN,NaN,NaN,...,-1.0,100.0,7.420,0,135.0,33.5,197.0,53.0,0,0
2,141296,63.0,1.0,NaN,54,27,NaN,NaN,NaN,NaN,...,0.5,21.0,7.540,1,137.0,29.0,101.0,59.0,0,0
3,141313,45.0,1.0,5.2,92,20,107.0,1.2,12.7,57,...,0.2,100.0,7.140,0,142.0,37.9,380.0,14.0,1,1
4,141328,76.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.0,-1.0,-1.000,1,-1.0,-1.0,103.0,14.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39457,3353121,77.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.0,-1.0,-1.000,0,140.0,30.0,185.0,51.0,0,0
39458,3353197,66.0,0.0,4.2,380.0,24.2,116.0,NaN,NaN,NaN,...,-1.0,100.0,7.494,0,142.0,20.0,209.0,50.0,0,0
39459,3353198,66.0,0.0,4.3,NaN,NaN,NaN,NaN,NaN,NaN,...,0.5,50.0,7.502,0,150.0,24.0,210.0,38.0,1,1
39460,3353200,66.0,0.0,NaN,70.0,27.8,NaN,NaN,NaN,NaN,...,-1.0,30.0,7.412,0,134.0,20.0,221.0,30.0,1,1
39461,3353216,50.0,0.0,NaN,226.0,20.0,NaN,NaN,NaN,NaN,...,0.2,100.0,7.185,0,143.0,26.0,182.0,14.0,1,1

In [180]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39462 entries, 0 to 39461
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patientunitstayid  39462 non-null  int64
 1   age                39461 non-null  float64
 2   gender             39456 non-null  float64
 3   K                  10914 non-null  object
 4   paO2               8648 non-null   object
 5   HCO3               7914 non-null   object
 6   CL                 8566 non-null   float64
 7   INR                5790 non-null   object
 8   PT                 5491 non-null   object
 9   ALT (SGPT)         3224 non-null   object
 10  BUN                8505 non-null   object
 11  PTT                4915 non-null   object
 12  paCO2              8529 non-null   object
 13  paO2               8648 non-null   object
 14  death              39462 non-null  float64
 15  icu_loss           39462 non-null  int64
 16  Unnamed: 0         39462 non-null  int64
 17  apacheapsvarid     39462 non-null  int64
 18  urine              39462 non-null  float64
 19  HR                 39462 non-null  int64
 20  wbc                39462 non-null  float64
 21  temperature        39462 non-null  float64
 22  Na                 39462 non-null  float64
 23  creatinine         39462 non-null  float64
 24  albumin            39462 non-null  float64
 25  pco2               39462 non-null  float64
 26  bun                39462 non-null  float64
 27  bilirubin          39462 non-null  float64
 28  fio2               39462 non-null  float64
 29  ph                 39462 non-null  float64
 30  dialysis           39462 non-null  int64
 31  sodium.1           39462 non-null  float64
 32  HCT                39462 non-null  float64
 33  GLU                39462 non-null  float64
 34  RESP               39462 non-null  float64
 35  TV                 39462 non-null  int64
 36  PEEP               39462 non-null  int64
dtypes: float64(19), int64(8), object(10)
memory usage: 11.4+ MB

In [181]:
apach_score=pd.read_csv("F:\\TrainTest\\EICU\\Eicu_Data\\apachePatientResult.csv")
apach_score

,apachepatientresultsid,patientunitstayid,physicianspeciality,physicianinterventioncategory,acutephysiologyscore,apachescore,apacheversion,predictedicumortality,actualicumortality,predictediculos,...,predictedhospitallos,actualhospitallos,preopmi,preopcardiaccath,ptcawithin24h,unabridgedunitlos,unabridgedhosplos,actualventdays,predventdays,unabridgedactualventdays
0,26570,141168,critical care medicine (CCM),Unknown,49,65,IV,0.026988,EXPIRED,3.038388,...,7.546453,2.4972,0,0,0,2.4972,2.4972,NaN,NaN,NaN
1,26571,141168,critical care medicine (CCM),Unknown,49,65,IVa,0.028889,EXPIRED,3.091127,...,6.628720,2.4972,0,0,0,2.4972,2.4972,NaN,NaN,NaN
2,53135,141194,critical care medicine (CCM),Unknown,57,70,IV,0.037888,ALIVE,4.620982,...,13.338449,9.2167,0,0,0,3.3423,9.2167,NaN,NaN,NaN
3,53136,141194,critical care medicine (CCM),Unknown,57,70,IVa,0.046448,ALIVE,4.167129,...,12.978228,9.2167,0,0,0,3.3423,9.2167,NaN,NaN,NaN
4,8,141203,hospitalist,I,73,90,IVa,0.291609,ALIVE,8.670299,...,16.319389,3.7493,0,0,0,1.2979,3.7493,2.0,5.738093,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297059,3272802,3353251,cardiology,II,142,158,IVa,0.876797,ALIVE,8.920949,...,11.222566,13.4056,0,0,1,11.2909,13.4056,9.0,6.464630,9.0
297060,3262173,3353254,hospitalist,II,18,35,IV,0.008919,ALIVE,1.617038,...,5.995957,4.4549,0,0,0,0.2993,4.4549,NaN,NaN,NaN
297061,3262174,3353254,hospitalist,II,18,35,IVa,0.011004,ALIVE,2.045046,...,6.199350,4.4549,0,0,0,0.2993,4.4549,NaN,NaN,NaN
297062,3246241,3353263,nephrology,II,22,22,IVa,0.006508,ALIVE,1.754389,...,6.260686,6.7347,0,0,0,0.6444,6.7347,NaN,NaN,NaN
297063,3246240,3353263,nephrology,II,22,22,IV,0.005339,ALIVE,1.629617,...,6.098940,6.7347,0,0,0,0.6444,6.7347,NaN,NaN,NaN

In [182]:
apach_score=apach_score[['patientunitstayid','apachescore']]
apach_score

        patientunitstayid  apachescore
0                  141168           65
1                  141168           65
2                  141194           70
3                  141194           70
4                  141203           90
...                   ...          ...
297059            3353251          158
297060            3353254           35
297061            3353254           35
297062            3353263           22
297063            3353263           22

[297064 rows x 2 columns]

In [183]:
merged_data_temp = pd.merge(merged_data, apach_score, on='patientunitstayid', how='inner')

# 删除重复行
merged_data = merged_data_temp.drop_duplicates()
merged_data

,patientunitstayid,age,gender,K,paO2,HCO3,CL,INR,PT,ALT (SGPT),...,fio2,ph,dialysis,sodium.1,HCT,GLU,RESP,TV,PEEP,apachescore
0,141203,77.0,0.0,4.2,51,25,107.0,NaN,NaN,NaN,...,100.0,7.450,0,145.0,36.9,145.0,33.0,1,1,90
2,141276,59.0,0.0,NaN,370,28,NaN,NaN,NaN,NaN,...,100.0,7.420,0,135.0,33.5,197.0,53.0,0,0,55
4,141296,63.0,1.0,NaN,54,27,NaN,NaN,NaN,NaN,...,21.0,7.540,1,137.0,29.0,101.0,59.0,0,0,89
6,141328,76.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.0,-1.000,1,-1.0,-1.0,103.0,14.0,0,0,30
8,141392,78.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.0,-1.000,0,137.0,24.4,90.0,22.0,0,0,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67762,3353117,85.0,1.0,4.9,255.0,27.8,115.0,1.69,16.7,NaN,...,40.0,7.418,0,147.0,18.0,209.0,35.0,1,1,94
67764,3353121,77.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.0,-1.000,0,140.0,30.0,185.0,51.0,0,0,60
67766,3353198,66.0,0.0,4.3,NaN,NaN,NaN,NaN,NaN,NaN,...,50.0,7.502,0,150.0,24.0,210.0,38.0,1,1,117
67768,3353200,66.0,0.0,NaN,70.0,27.8,NaN,NaN,NaN,NaN,...,30.0,7.412,0,134.0,20.0,221.0,30.0,1,1,57
67770,3353216,50.0,0.0,NaN,226.0,20.0,NaN,NaN,NaN,NaN,...,100.0,7.185,0,143.0,26.0,182.0,14.0,1,1,52

In [184]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33886 entries, 0 to 67770
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patientunitstayid  33886 non-null  int64
 1   age                33885 non-null  float64
 2   gender             33881 non-null  float64
 3   K                  9771 non-null   object
 4   paO2               7732 non-null   object
 5   HCO3               7033 non-null   object
 6   CL                 7766 non-null   float64
 7   INR                5183 non-null   object
 8   PT                 4897 non-null   object
 9   ALT (SGPT)         2866 non-null   object
 10  BUN                7703 non-null   object
 11  PTT                4417 non-null   object
 12  paCO2              7626 non-null   object
 13  paO2               7732 non-null   object
 14  death              33886 non-null  float64
 15  icu_loss           33886 non-null  int64
 16  Unnamed: 0         33886 non-null  int64
 17  apacheapsvarid     33886 non-null  int64
 18  urine              33886 non-null  float64
 19  HR                 33886 non-null  int64
 20  wbc                33886 non-null  float64
 21  temperature        33886 non-null  float64
 22  Na                 33886 non-null  float64
 23  creatinine         33886 non-null  float64
 24  albumin            33886 non-null  float64
 25  pco2               33886 non-null  float64
 26  bun                33886 non-null  float64
 27  bilirubin          33886 non-null  float64
 28  fio2               33886 non-null  float64
 29  ph                 33886 non-null  float64
 30  dialysis           33886 non-null  int64
 31  sodium.1           33886 non-null  float64
 32  HCT                33886 non-null  float64
 33  GLU                33886 non-null  float64
 34  RESP               33886 non-null  float64
 35  TV                 33886 non-null  int64
 36  PEEP               33886 non-null  int64
 37  apachescore        33886 non-null  int64
dtypes: float64(19), int64(9), object(10)
memory usage: 10.1+ MB

In [185]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33886 entries, 0 to 67770
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patientunitstayid  33886 non-null  int64
 1   age                33885 non-null  float64
 2   gender             33881 non-null  float64
 3   K                  9771 non-null   object
 4   paO2               7732 non-null   object
 5   HCO3               7033 non-null   object
 6   CL                 7766 non-null   float64
 7   INR                5183 non-null   object
 8   PT                 4897 non-null   object
 9   ALT (SGPT)         2866 non-null   object
 10  BUN                7703 non-null   object
 11  PTT                4417 non-null   object
 12  paCO2              7626 non-null   object
 13  paO2               7732 non-null   object
 14  death              33886 non-null  float64
 15  icu_loss           33886 non-null  int64
 16  Unnamed: 0         33886 non-null  int64
 17  apacheapsvarid     33886 non-null  int64
 18  urine              33886 non-null  float64
 19  HR                 33886 non-null  int64
 20  wbc                33886 non-null  float64
 21  temperature        33886 non-null  float64
 22  Na                 33886 non-null  float64
 23  creatinine         33886 non-null  float64
 24  albumin            33886 non-null  float64
 25  pco2               33886 non-null  float64
 26  bun                33886 non-null  float64
 27  bilirubin          33886 non-null  float64
 28  fio2               33886 non-null  float64
 29  ph                 33886 non-null  float64
 30  dialysis           33886 non-null  int64
 31  sodium.1           33886 non-null  float64
 32  HCT                33886 non-null  float64
 33  GLU                33886 non-null  float64
 34  RESP               33886 non-null  float64
 35  TV                 33886 non-null  int64
 36  PEEP               33886 non-null  int64
 37  apachescore        33886 non-null  int64
dtypes: float64(19), int64(9), object(10)
memory usage: 10.1+ MB

In [187]:
merged_data.to_csv('F:\TrainTest\EICU\Data\predict_data.csv')

In [ ]:
#填充缺失值

In [192]:
merged_data=pd.read_csv("F:\TrainTest\EICU\Data\predict_data.csv")
merged_data

,Unnamed: 0,patientunitstayid,age,gender,K,paO2,HCO3,CL,INR,PT,...,dialysis,sodium.1,HCT,GLU,RESP,TV,PEEP,apachescore,death,icu_loss
0,0,141203,77.0,0.0,4.2,51.0,25.0,107.0,NaN,NaN,...,0,145.0,36.9,145,33.0,1,1,90,0,0
1,2,141276,59.0,0.0,NaN,370.0,28.0,NaN,NaN,NaN,...,0,135.0,33.5,197,53.0,0,0,55,0,0
2,4,141296,63.0,1.0,NaN,54.0,27.0,NaN,NaN,NaN,...,1,137.0,29.0,101,59.0,0,0,89,1,0
3,6,141328,76.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1,-1.0,-1.0,103,14.0,0,0,30,0,1
4,8,141392,78.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,137.0,24.4,90,22.0,0,0,35,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33696,67762,3353117,85.0,1.0,4.9,255.0,27.8,115.0,1.69,16.7,...,0,147.0,18.0,209,35.0,1,1,94,1,0
33697,67764,3353121,77.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,140.0,30.0,185,51.0,0,0,60,0,1
33698,67766,3353198,66.0,0.0,4.3,NaN,NaN,NaN,NaN,NaN,...,0,150.0,24.0,210,38.0,1,1,117,0,0
33699,67768,3353200,66.0,0.0,NaN,70.0,27.8,NaN,NaN,NaN,...,0,134.0,20.0,221,30.0,1,1,57,0,0
33700,67770,3353216,50.0,0.0,NaN,226.0,20.0,NaN,NaN,NaN,...,0,143.0,26.0,182,14.0,1,1,52,0,0

In [193]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33701 entries, 0 to 33700
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         33701 non-null  int64
 1   patientunitstayid  33701 non-null  int64
 2   age                33700 non-null  float64
 3   gender             33696 non-null  float64
 4   K                  9650 non-null   float64
 5   paO2               7629 non-null   float64
 6   HCO3               6941 non-null   float64
 7   CL                 7656 non-null   float64
 8   INR                5088 non-null   float64
 9   PT                 4812 non-null   float64
 10  ALT (SGPT)         2806 non-null   float64
 11  BUN                7595 non-null   float64
 12  PTT                4324 non-null   float64
 13  paCO2              7524 non-null   float64
 14  paO2.1             7629 non-null   float64
 15  urine              33701 non-null  float64
 16  HR                 33701 non-null  int64
 17  wbc                33701 non-null  float64
 18  temperature        33701 non-null  float64
 19  Na                 33701 non-null  float64
 20  creatinine         33701 non-null  float64
 21  albumin            33701 non-null  float64
 22  pco2               33701 non-null  float64
 23  bun                33701 non-null  float64
 24  bilirubin          33701 non-null  float64
 25  fio2               33701 non-null  float64
 26  ph                 33701 non-null  float64
 27  dialysis           33701 non-null  int64
 28  sodium.1           33701 non-null  float64
 29  HCT                33701 non-null  float64
 30  GLU                33701 non-null  int64
 31  RESP               33701 non-null  float64
 32  TV                 33701 non-null  int64
 33  PEEP               33701 non-null  int64
 34  apachescore        33701 non-null  int64
 35  death              33701 non-null  int64
 36  icu_loss           33701 non-null  int64
dtypes: float64(27), int64(10)
memory usage: 9.5 MB

In [194]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

# 假设 merged_data 是您的 DataFrame，包含 'paO2' 和其他特征列

# 删除 HCO3 列中包含 NaN 的行
merged_data = merged_data.dropna(subset=['K'])

# 将数据拆分成已知值和缺失值两部分
known_data = merged_data.dropna(subset=['paO2'])
unknown_data = merged_data[merged_data['paO2'].isnull()]

# 划分特征和目标变量
X_known = known_data.drop('paO2', axis=1)
y_known = known_data['paO2']
X_unknown = unknown_data.drop('paO2', axis=1)

# 确保特征列在已知数据和未知数据中的一致性
X_unknown = X_unknown[X_known.columns]

# 检查是否存在其他的NaN值，并处理这些值
X_known = X_known.fillna(0)  # 例如，用0填充其他特征中的NaN值
X_unknown = X_unknown.fillna(0)

# 创建并训练随机森林回归模型
rf_model = RandomForestRegressor()
rf_model.fit(X_known, y_known)

# 预测缺失值
predicted_values = rf_model.predict(X_unknown)

# 将预测值填充回原始数据
merged_data.loc[merged_data['paO2'].isnull(), 'paO2'] = predicted_values

# 显示结果
merged_data

E:\Anaconda\envs\acative\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

,Unnamed: 0,patientunitstayid,age,gender,K,paO2,HCO3,CL,INR,PT,...,dialysis,sodium.1,HCT,GLU,RESP,TV,PEEP,apachescore,death,icu_loss
0,0,141203,77.0,0.0,4.2,51.00,25.0,107.0,NaN,NaN,...,0,145.0,36.9,145,33.0,1,1,90,0,0
5,10,141415,30.0,1.0,4.1,23.35,NaN,107.0,1.30,14.1,...,0,140.0,37.4,88,50.0,0,0,35,0,0
26,54,142512,51.0,1.0,4.6,23.52,NaN,105.0,NaN,NaN,...,0,139.0,40.0,80,30.0,0,0,23,0,1
28,58,142624,47.0,0.0,3.4,120.00,18.0,110.0,NaN,NaN,...,0,139.0,29.7,76,41.0,1,1,54,0,0
35,72,142917,65.0,1.0,5.5,191.00,18.0,110.0,1.20,12.4,...,0,138.0,23.4,64,5.0,1,1,92,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33688,67746,3352634,39.0,1.0,6.2,80.00,25.0,103.0,NaN,NaN,...,0,134.0,41.0,103,54.0,0,0,69,0,0
33690,67750,3352878,62.0,1.0,4.7,95.00,20.4,113.0,NaN,NaN,...,0,140.0,26.0,200,4.0,1,1,76,0,0
33693,67756,3353031,45.0,1.0,5.8,24.25,NaN,111.0,NaN,NaN,...,0,138.0,30.0,202,39.0,1,1,69,0,1
33696,67762,3353117,85.0,1.0,4.9,255.00,27.8,115.0,1.69,16.7,...,0,147.0,18.0,209,35.0,1,1,94,1,0
33698,67766,3353198,66.0,0.0,4.3,24.14,NaN,NaN,NaN,NaN,...,0,150.0,24.0,210,38.0,1,1,117,0,0

In [195]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9650 entries, 0 to 33698
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         9650 non-null   int64
 1   patientunitstayid  9650 non-null   int64
 2   age                9650 non-null   float64
 3   gender             9649 non-null   float64
 4   K                  9650 non-null   float64
 5   paO2               9650 non-null   float64
 6   HCO3               3363 non-null   float64
 7   CL                 7633 non-null   float64
 8   INR                3969 non-null   float64
 9   PT                 3725 non-null   float64
 10  ALT (SGPT)         2696 non-null   float64
 11  BUN                7428 non-null   float64
 12  PTT                3333 non-null   float64
 13  paCO2              3922 non-null   float64
 14  paO2.1             3976 non-null   float64
 15  urine              9650 non-null   float64
 16  HR                 9650 non-null   int64
 17  wbc                9650 non-null   float64
 18  temperature        9650 non-null   float64
 19  Na                 9650 non-null   float64
 20  creatinine         9650 non-null   float64
 21  albumin            9650 non-null   float64
 22  pco2               9650 non-null   float64
 23  bun                9650 non-null   float64
 24  bilirubin          9650 non-null   float64
 25  fio2               9650 non-null   float64
 26  ph                 9650 non-null   float64
 27  dialysis           9650 non-null   int64
 28  sodium.1           9650 non-null   float64
 29  HCT                9650 non-null   float64
 30  GLU                9650 non-null   int64
 31  RESP               9650 non-null   float64
 32  TV                 9650 non-null   int64
 33  PEEP               9650 non-null   int64
 34  apachescore        9650 non-null   int64
 35  death              9650 non-null   int64
 36  icu_loss           9650 non-null   int64
dtypes: float64(27), int64(10)
memory usage: 2.8 MB

In [196]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

# 假设 merged_data 是您的 DataFrame，包含 'paO2' 和其他特征列

# 删除 HCO3 列中包含 NaN 的行
#merged_data = merged_data.dropna(subset=['K'])

# 将数据拆分成已知值和缺失值两部分
known_data = merged_data.dropna(subset=['HCO3'])
unknown_data = merged_data[merged_data['HCO3'].isnull()]

# 划分特征和目标变量
X_known = known_data.drop('HCO3', axis=1)
y_known = known_data['HCO3']
X_unknown = unknown_data.drop('HCO3', axis=1)

# 确保特征列在已知数据和未知数据中的一致性
X_unknown = X_unknown[X_known.columns]

# 检查是否存在其他的NaN值，并处理这些值
X_known = X_known.fillna(0)  # 例如，用0填充其他特征中的NaN值
X_unknown = X_unknown.fillna(0)

# 创建并训练随机森林回归模型
rf_model = RandomForestRegressor()
rf_model.fit(X_known, y_known)

# 预测缺失值
predicted_values = rf_model.predict(X_unknown)

# 将预测值填充回原始数据
merged_data.loc[merged_data['HCO3'].isnull(), 'HCO3'] = predicted_values

# 显示结果
merged_data

E:\Anaconda\envs\acative\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

,Unnamed: 0,patientunitstayid,age,gender,K,paO2,HCO3,CL,INR,PT,...,dialysis,sodium.1,HCT,GLU,RESP,TV,PEEP,apachescore,death,icu_loss
0,0,141203,77.0,0.0,4.2,51.00,25.000,107.0,NaN,NaN,...,0,145.0,36.9,145,33.0,1,1,90,0,0
5,10,141415,30.0,1.0,4.1,23.35,22.633,107.0,1.30,14.1,...,0,140.0,37.4,88,50.0,0,0,35,0,0
26,54,142512,51.0,1.0,4.6,23.52,24.462,105.0,NaN,NaN,...,0,139.0,40.0,80,30.0,0,0,23,0,1
28,58,142624,47.0,0.0,3.4,120.00,18.000,110.0,NaN,NaN,...,0,139.0,29.7,76,41.0,1,1,54,0,0
35,72,142917,65.0,1.0,5.5,191.00,18.000,110.0,1.20,12.4,...,0,138.0,23.4,64,5.0,1,1,92,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33688,67746,3352634,39.0,1.0,6.2,80.00,25.000,103.0,NaN,NaN,...,0,134.0,41.0,103,54.0,0,0,69,0,0
33690,67750,3352878,62.0,1.0,4.7,95.00,20.400,113.0,NaN,NaN,...,0,140.0,26.0,200,4.0,1,1,76,0,0
33693,67756,3353031,45.0,1.0,5.8,24.25,20.740,111.0,NaN,NaN,...,0,138.0,30.0,202,39.0,1,1,69,0,1
33696,67762,3353117,85.0,1.0,4.9,255.00,27.800,115.0,1.69,16.7,...,0,147.0,18.0,209,35.0,1,1,94,1,0
33698,67766,3353198,66.0,0.0,4.3,24.14,23.498,NaN,NaN,NaN,...,0,150.0,24.0,210,38.0,1,1,117,0,0

In [197]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9650 entries, 0 to 33698
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         9650 non-null   int64
 1   patientunitstayid  9650 non-null   int64
 2   age                9650 non-null   float64
 3   gender             9649 non-null   float64
 4   K                  9650 non-null   float64
 5   paO2               9650 non-null   float64
 6   HCO3               9650 non-null   float64
 7   CL                 7633 non-null   float64
 8   INR                3969 non-null   float64
 9   PT                 3725 non-null   float64
 10  ALT (SGPT)         2696 non-null   float64
 11  BUN                7428 non-null   float64
 12  PTT                3333 non-null   float64
 13  paCO2              3922 non-null   float64
 14  paO2.1             3976 non-null   float64
 15  urine              9650 non-null   float64
 16  HR                 9650 non-null   int64
 17  wbc                9650 non-null   float64
 18  temperature        9650 non-null   float64
 19  Na                 9650 non-null   float64
 20  creatinine         9650 non-null   float64
 21  albumin            9650 non-null   float64
 22  pco2               9650 non-null   float64
 23  bun                9650 non-null   float64
 24  bilirubin          9650 non-null   float64
 25  fio2               9650 non-null   float64
 26  ph                 9650 non-null   float64
 27  dialysis           9650 non-null   int64
 28  sodium.1           9650 non-null   float64
 29  HCT                9650 non-null   float64
 30  GLU                9650 non-null   int64
 31  RESP               9650 non-null   float64
 32  TV                 9650 non-null   int64
 33  PEEP               9650 non-null   int64
 34  apachescore        9650 non-null   int64
 35  death              9650 non-null   int64
 36  icu_loss           9650 non-null   int64
dtypes: float64(27), int64(10)
memory usage: 2.8 MB

In [198]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

# 假设 merged_data 是您的 DataFrame，包含 'paO2' 和其他特征列

# 删除 HCO3 列中包含 NaN 的行
#merged_data = merged_data.dropna(subset=['K'])

# 将数据拆分成已知值和缺失值两部分
known_data = merged_data.dropna(subset=['CL'])
unknown_data = merged_data[merged_data['CL'].isnull()]

# 划分特征和目标变量
X_known = known_data.drop('CL', axis=1)
y_known = known_data['CL']
X_unknown = unknown_data.drop('CL', axis=1)

# 确保特征列在已知数据和未知数据中的一致性
X_unknown = X_unknown[X_known.columns]

# 检查是否存在其他的NaN值，并处理这些值
X_known = X_known.fillna(0)  # 例如，用0填充其他特征中的NaN值
X_unknown = X_unknown.fillna(0)

# 创建并训练随机森林回归模型
rf_model = RandomForestRegressor()
rf_model.fit(X_known, y_known)

# 预测缺失值
predicted_values = rf_model.predict(X_unknown)

# 将预测值填充回原始数据
merged_data.loc[merged_data['CL'].isnull(), 'CL'] = predicted_values

# 显示结果
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9650 entries, 0 to 33698
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         9650 non-null   int64
 1   patientunitstayid  9650 non-null   int64
 2   age                9650 non-null   float64
 3   gender             9649 non-null   float64
 4   K                  9650 non-null   float64
 5   paO2               9650 non-null   float64
 6   HCO3               9650 non-null   float64
 7   CL                 9650 non-null   float64
 8   INR                3969 non-null   float64
 9   PT                 3725 non-null   float64
 10  ALT (SGPT)         2696 non-null   float64
 11  BUN                7428 non-null   float64
 12  PTT                3333 non-null   float64
 13  paCO2              3922 non-null   float64
 14  paO2.1             3976 non-null   float64
 15  urine              9650 non-null   float64
 16  HR                 9650 non-null   int64
 17  wbc                9650 non-null   float64
 18  temperature        9650 non-null   float64
 19  Na                 9650 non-null   float64
 20  creatinine         9650 non-null   float64
 21  albumin            9650 non-null   float64
 22  pco2               9650 non-null   float64
 23  bun                9650 non-null   float64
 24  bilirubin          9650 non-null   float64
 25  fio2               9650 non-null   float64
 26  ph                 9650 non-null   float64
 27  dialysis           9650 non-null   int64
 28  sodium.1           9650 non-null   float64
 29  HCT                9650 non-null   float64
 30  GLU                9650 non-null   int64
 31  RESP               9650 non-null   float64
 32  TV                 9650 non-null   int64
 33  PEEP               9650 non-null   int64
 34  apachescore        9650 non-null   int64
 35  death              9650 non-null   int64
 36  icu_loss           9650 non-null   int64
dtypes: float64(27), int64(10)
memory usage: 2.8 MB

E:\Anaconda\envs\acative\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [199]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

# 假设 merged_data 是您的 DataFrame，包含 'paO2' 和其他特征列

# 删除 HCO3 列中包含 NaN 的行
#merged_data = merged_data.dropna(subset=['K'])

# 将数据拆分成已知值和缺失值两部分
known_data = merged_data.dropna(subset=['paCO2'])
unknown_data = merged_data[merged_data['paCO2'].isnull()]

# 划分特征和目标变量
X_known = known_data.drop('paCO2', axis=1)
y_known = known_data['paCO2']
X_unknown = unknown_data.drop('paCO2', axis=1)

# 确保特征列在已知数据和未知数据中的一致性
X_unknown = X_unknown[X_known.columns]

# 检查是否存在其他的NaN值，并处理这些值
X_known = X_known.fillna(0)  # 例如，用0填充其他特征中的NaN值
X_unknown = X_unknown.fillna(0)

# 创建并训练随机森林回归模型
rf_model = RandomForestRegressor()
rf_model.fit(X_known, y_known)

# 预测缺失值
predicted_values = rf_model.predict(X_unknown)

# 将预测值填充回原始数据
merged_data.loc[merged_data['paCO2'].isnull(), 'paCO2'] = predicted_values

# 显示结果
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9650 entries, 0 to 33698
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         9650 non-null   int64
 1   patientunitstayid  9650 non-null   int64
 2   age                9650 non-null   float64
 3   gender             9649 non-null   float64
 4   K                  9650 non-null   float64
 5   paO2               9650 non-null   float64
 6   HCO3               9650 non-null   float64
 7   CL                 9650 non-null   float64
 8   INR                3969 non-null   float64
 9   PT                 3725 non-null   float64
 10  ALT (SGPT)         2696 non-null   float64
 11  BUN                7428 non-null   float64
 12  PTT                3333 non-null   float64
 13  paCO2              9650 non-null   float64
 14  paO2.1             3976 non-null   float64
 15  urine              9650 non-null   float64
 16  HR                 9650 non-null   int64
 17  wbc                9650 non-null   float64
 18  temperature        9650 non-null   float64
 19  Na                 9650 non-null   float64
 20  creatinine         9650 non-null   float64
 21  albumin            9650 non-null   float64
 22  pco2               9650 non-null   float64
 23  bun                9650 non-null   float64
 24  bilirubin          9650 non-null   float64
 25  fio2               9650 non-null   float64
 26  ph                 9650 non-null   float64
 27  dialysis           9650 non-null   int64
 28  sodium.1           9650 non-null   float64
 29  HCT                9650 non-null   float64
 30  GLU                9650 non-null   int64
 31  RESP               9650 non-null   float64
 32  TV                 9650 non-null   int64
 33  PEEP               9650 non-null   int64
 34  apachescore        9650 non-null   int64
 35  death              9650 non-null   int64
 36  icu_loss           9650 non-null   int64
dtypes: float64(27), int64(10)
memory usage: 2.8 MB

E:\Anaconda\envs\acative\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [200]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

# 假设 merged_data 是您的 DataFrame，包含 'paO2' 和其他特征列

# 删除 HCO3 列中包含 NaN 的行
merged_data = merged_data.dropna(subset=['BUN'])

# 将数据拆分成已知值和缺失值两部分
known_data = merged_data.dropna(subset=['INR'])
unknown_data = merged_data[merged_data['INR'].isnull()]

# 划分特征和目标变量
X_known = known_data.drop('INR', axis=1)
y_known = known_data['INR']
X_unknown = unknown_data.drop('INR', axis=1)

# 确保特征列在已知数据和未知数据中的一致性
X_unknown = X_unknown[X_known.columns]

# 检查是否存在其他的NaN值，并处理这些值
X_known = X_known.fillna(0)  # 例如，用0填充其他特征中的NaN值
X_unknown = X_unknown.fillna(0)

# 创建并训练随机森林回归模型
rf_model = RandomForestRegressor()
rf_model.fit(X_known, y_known)

# 预测缺失值
predicted_values = rf_model.predict(X_unknown)

# 将预测值填充回原始数据
merged_data.loc[merged_data['INR'].isnull(), 'INR'] = predicted_values

# 显示结果
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7428 entries, 0 to 33696
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         7428 non-null   int64
 1   patientunitstayid  7428 non-null   int64
 2   age                7428 non-null   float64
 3   gender             7427 non-null   float64
 4   K                  7428 non-null   float64
 5   paO2               7428 non-null   float64
 6   HCO3               7428 non-null   float64
 7   CL                 7428 non-null   float64
 8   INR                7428 non-null   float64
 9   PT                 3422 non-null   float64
 10  ALT (SGPT)         2690 non-null   float64
 11  BUN                7428 non-null   float64
 12  PTT                3033 non-null   float64
 13  paCO2              7428 non-null   float64
 14  paO2.1             2118 non-null   float64
 15  urine              7428 non-null   float64
 16  HR                 7428 non-null   int64
 17  wbc                7428 non-null   float64
 18  temperature        7428 non-null   float64
 19  Na                 7428 non-null   float64
 20  creatinine         7428 non-null   float64
 21  albumin            7428 non-null   float64
 22  pco2               7428 non-null   float64
 23  bun                7428 non-null   float64
 24  bilirubin          7428 non-null   float64
 25  fio2               7428 non-null   float64
 26  ph                 7428 non-null   float64
 27  dialysis           7428 non-null   int64
 28  sodium.1           7428 non-null   float64
 29  HCT                7428 non-null   float64
 30  GLU                7428 non-null   int64
 31  RESP               7428 non-null   float64
 32  TV                 7428 non-null   int64
 33  PEEP               7428 non-null   int64
 34  apachescore        7428 non-null   int64
 35  death              7428 non-null   int64
 36  icu_loss           7428 non-null   int64
dtypes: float64(27), int64(10)
memory usage: 2.2 MB

E:\Anaconda\envs\acative\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [201]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

# 假设 merged_data 是您的 DataFrame，包含 'paO2' 和其他特征列

# 删除 HCO3 列中包含 NaN 的行
#merged_data = merged_data.dropna(subset=['BUN'])

# 将数据拆分成已知值和缺失值两部分
known_data = merged_data.dropna(subset=['PT'])
unknown_data = merged_data[merged_data['PT'].isnull()]

# 划分特征和目标变量
X_known = known_data.drop('PT', axis=1)
y_known = known_data['PT']
X_unknown = unknown_data.drop('PT', axis=1)

# 确保特征列在已知数据和未知数据中的一致性
X_unknown = X_unknown[X_known.columns]

# 检查是否存在其他的NaN值，并处理这些值
X_known = X_known.fillna(0)  # 例如，用0填充其他特征中的NaN值
X_unknown = X_unknown.fillna(0)

# 创建并训练随机森林回归模型
rf_model = RandomForestRegressor()
rf_model.fit(X_known, y_known)

# 预测缺失值
predicted_values = rf_model.predict(X_unknown)

# 将预测值填充回原始数据
merged_data.loc[merged_data['PT'].isnull(), 'PT'] = predicted_values

# 显示结果
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7428 entries, 0 to 33696
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         7428 non-null   int64
 1   patientunitstayid  7428 non-null   int64
 2   age                7428 non-null   float64
 3   gender             7427 non-null   float64
 4   K                  7428 non-null   float64
 5   paO2               7428 non-null   float64
 6   HCO3               7428 non-null   float64
 7   CL                 7428 non-null   float64
 8   INR                7428 non-null   float64
 9   PT                 7428 non-null   float64
 10  ALT (SGPT)         2690 non-null   float64
 11  BUN                7428 non-null   float64
 12  PTT                3033 non-null   float64
 13  paCO2              7428 non-null   float64
 14  paO2.1             2118 non-null   float64
 15  urine              7428 non-null   float64
 16  HR                 7428 non-null   int64
 17  wbc                7428 non-null   float64
 18  temperature        7428 non-null   float64
 19  Na                 7428 non-null   float64
 20  creatinine         7428 non-null   float64
 21  albumin            7428 non-null   float64
 22  pco2               7428 non-null   float64
 23  bun                7428 non-null   float64
 24  bilirubin          7428 non-null   float64
 25  fio2               7428 non-null   float64
 26  ph                 7428 non-null   float64
 27  dialysis           7428 non-null   int64
 28  sodium.1           7428 non-null   float64
 29  HCT                7428 non-null   float64
 30  GLU                7428 non-null   int64
 31  RESP               7428 non-null   float64
 32  TV                 7428 non-null   int64
 33  PEEP               7428 non-null   int64
 34  apachescore        7428 non-null   int64
 35  death              7428 non-null   int64
 36  icu_loss           7428 non-null   int64
dtypes: float64(27), int64(10)
memory usage: 2.2 MB

E:\Anaconda\envs\acative\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [202]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

# 假设 merged_data 是您的 DataFrame，包含 'paO2' 和其他特征列

# 删除 HCO3 列中包含 NaN 的行
#merged_data = merged_data.dropna(subset=['BUN'])

# 将数据拆分成已知值和缺失值两部分
known_data = merged_data.dropna(subset=['PTT'])
unknown_data = merged_data[merged_data['PTT'].isnull()]

# 划分特征和目标变量
X_known = known_data.drop('PTT', axis=1)
y_known = known_data['PTT']
X_unknown = unknown_data.drop('PTT', axis=1)

# 确保特征列在已知数据和未知数据中的一致性
X_unknown = X_unknown[X_known.columns]

# 检查是否存在其他的NaN值，并处理这些值
X_known = X_known.fillna(0)  # 例如，用0填充其他特征中的NaN值
X_unknown = X_unknown.fillna(0)

# 创建并训练随机森林回归模型
rf_model = RandomForestRegressor()
rf_model.fit(X_known, y_known)

# 预测缺失值
predicted_values = rf_model.predict(X_unknown)

# 将预测值填充回原始数据
merged_data.loc[merged_data['PTT'].isnull(), 'PTT'] = predicted_values

# 显示结果
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7428 entries, 0 to 33696
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         7428 non-null   int64
 1   patientunitstayid  7428 non-null   int64
 2   age                7428 non-null   float64
 3   gender             7427 non-null   float64
 4   K                  7428 non-null   float64
 5   paO2               7428 non-null   float64
 6   HCO3               7428 non-null   float64
 7   CL                 7428 non-null   float64
 8   INR                7428 non-null   float64
 9   PT                 7428 non-null   float64
 10  ALT (SGPT)         2690 non-null   float64
 11  BUN                7428 non-null   float64
 12  PTT                7428 non-null   float64
 13  paCO2              7428 non-null   float64
 14  paO2.1             2118 non-null   float64
 15  urine              7428 non-null   float64
 16  HR                 7428 non-null   int64
 17  wbc                7428 non-null   float64
 18  temperature        7428 non-null   float64
 19  Na                 7428 non-null   float64
 20  creatinine         7428 non-null   float64
 21  albumin            7428 non-null   float64
 22  pco2               7428 non-null   float64
 23  bun                7428 non-null   float64
 24  bilirubin          7428 non-null   float64
 25  fio2               7428 non-null   float64
 26  ph                 7428 non-null   float64
 27  dialysis           7428 non-null   int64
 28  sodium.1           7428 non-null   float64
 29  HCT                7428 non-null   float64
 30  GLU                7428 non-null   int64
 31  RESP               7428 non-null   float64
 32  TV                 7428 non-null   int64
 33  PEEP               7428 non-null   int64
 34  apachescore        7428 non-null   int64
 35  death              7428 non-null   int64
 36  icu_loss           7428 non-null   int64
dtypes: float64(27), int64(10)
memory usage: 2.2 MB

E:\Anaconda\envs\acative\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [203]:
merged_data.to_csv("F:\TrainTest\EICU\Data\EICU_ALL_DATA.csv")