In [1]:
import pandas as pd
import numpy as np

In [9]:
ICU_DATA=pd.read_csv("F:\TrainTest\EICU\Data\EICU_ALL_DATA.csv")
ICU_DATA

,patientunitstayid,age,gender,K,paO2,HCO3,CL,INR,PT,ALT (SGPT),...,dialysis,sodium.1,HCT,GLU,RESP,TV,PEEP,apachescore,icu_loss,death
0,141203,77,0.0,4.2,51.00,25.000,107.0,1.1211,11.783,NaN,...,0,145.0,36.9,145,33.0,1,1,90,0,0
1,141415,30,1.0,4.1,23.35,22.633,107.0,1.3000,14.100,NaN,...,0,140.0,37.4,88,50.0,0,0,35,0,0
2,142512,51,1.0,4.6,23.52,24.462,105.0,1.1044,11.597,NaN,...,0,139.0,40.0,80,30.0,0,0,23,1,0
3,142624,47,0.0,3.4,120.00,18.000,110.0,1.3550,14.865,11.0,...,0,139.0,29.7,76,41.0,1,1,54,0,0
4,142917,65,1.0,5.5,191.00,18.000,110.0,1.2000,12.400,NaN,...,0,138.0,23.4,64,5.0,1,1,92,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7423,3352546,47,0.0,3.6,24.12,22.635,113.0,1.7817,18.596,NaN,...,0,139.0,-1.0,89,48.0,1,1,52,0,0
7424,3352634,39,1.0,6.2,80.00,25.000,103.0,1.1306,11.376,NaN,...,0,134.0,41.0,103,54.0,0,0,69,0,0
7425,3352878,62,1.0,4.7,95.00,20.400,113.0,1.1719,11.726,44.0,...,0,140.0,26.0,200,4.0,1,1,76,0,0
7426,3353031,45,1.0,5.8,24.25,20.740,111.0,1.1900,11.766,NaN,...,0,138.0,30.0,202,39.0,1,1,69,1,0
7427,3353117,85,1.0,4.9,255.00,27.800,115.0,1.6900,16.700,NaN,...,0,147.0,18.0,209,35.0,1,1,94,0,1